:root {
  --textColor: #000;
  --borderColor: #000;
  --buttonColor: #fff;
  --onHoverColor: #e9e9e9;
}

.App-header {
  position: absolute;
  color: var(--textColor);
  left: 10vh;
  top: 10vh;
  font-size: 80px;
  z-index: 2;
}

.menuButtons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 200px;
  left: 10vh;
  top: 35vh;
  z-index: 2;
  padding: 1em;
  border-radius: 8px;
  background: rgba(240, 243, 234, 0.8);
  background-blend-mode: normal;
  backdrop-filter: blur(5px);
}

.menuButtonItem {
  color: var(--textColor);
  background-color: var(--buttonColor);
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  z-index: 2;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  transition-duration: 250ms;
}

.menuButtonItem:hover {
  transition-duration: 250ms;
  background-color: var(--onHoverColor);

}

.createForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 500px;
  left: 10vh;
  top: 25vh;
  z-index: 2;
  padding: 1em;
  border-radius: 8px;
  background: rgba(240, 243, 234, 0.8);
  background-blend-mode: normal;
  backdrop-filter: blur(5px);
}

.settingForm {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
}

.settingForm>div {
  grid-column-start: 1;
  grid-column-end: 2;
}

.settingForm>label {
  grid-column-start: 8;
  grid-column-end: 9;
}

.settingForm>input {
  grid-column-start: 9;
  grid-column-end: 10;
}

.navButtons {
  display: flex;
  justify-content: space-between;

}

.backButton {
  width: 180px;
  height: 60px;
  border-radius: 8px;
  background: #dadada;
  color: #757575;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.backButton>.caret {
  aspect-ratio: 1;
  text-align: center;
  padding-left: 20px;
}

.backButton>.text {
  flex-grow: 1;
  text-align: left;
  padding-left: 30px;
}

.createButton {
  width: 180px;
  height: 60px;
  border-radius: 8px;
  background: #a8dc59;
  color: #000000;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.createButton>.plus {
  aspect-ratio: 1;
  text-align: center;
  padding-right: 20px;
  font-size: 40px;
}

.createButton>.text {
  flex-grow: 1;
  text-align: right;
  padding-right: 30px;
}

.custom-background {
  position: absolute;
  bottom: 0;
  z-index: 1;
  object-fit: contain;
  width: 100vw;
  object-position: bottom;
}