.map-container {
  display: grid;
  grid-template-columns: repeat(var(--columns, 1), 32px);
  grid-template-rows: repeat(var(--rows, 1), 32px);
  margin: auto auto;
  width: fit-content;
}

.tile {
  width: 32px;
  height: 32px;
  /* Include border in width and height */
}

.tile img {
  width: 100%;
  /* Stretch the image horizontally to fill the container */
  height: 100%;
  /* Stretch the image vertically to fill the container */
  object-fit: cover;
  /* Resize the image to cover the container, maintaining aspect ratio */
}

.react-transform-wrapper {
  width: 100vw;
  height: 100vh;
}

.viewPane {
  width: 100vw;
  height: 100vh;
}
