body,
.editorWrapper {
    margin: 0;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

@media only screen and (max-height: 750px) {
    body, .editorWrapper {
      overflow: scroll;
    }
}
