.character-sheet {
    max-height: 400px; /* Set the maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 100%; /* Set the width */
    border-radius: 25px; /* Rounded corners */
    display: flex;
    flex-wrap: wrap;
  }

  table {
    width: 200%; /* Make table take full width of the parent */
    display: flex;
    flex-wrap: wrap;
  }

  tr {
    width: 100%; /* Make each row take up half the width */
  }

  td {
    padding: 8px; /* Add padding to table cells */
    width: 50%; /* Each cell takes up half the width of its row */
  }

  input {
    width: 250%; /* Make the text boxes slightly larger */
  }
  .character-sheet {
    position: fixed;
    right: 0;
    top: 0;
    /* other styles */
  }
